.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 22px;

  button {
    min-width: 105px;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 4px;
    background: var(--orange);
    color: var(--white);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background: var(--grey);

      &:hover {
        background: var(--grey);
      }
    }

    &:hover {
      background-color: var(--focus-color);
    }
  }
}
